* {
  margin: 0;
}

body {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  font-family: Arial, sans-serif;
}

#modal {
  display: none;
  position: absolute;

  justify-content: center;
  align-items: center;

  z-index: 100;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}
#modal-box {
  padding: 25px;
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#modal-box input {
  width: 80%;
  height: 30px;
  font-size: 20px;
}
#modal-box h2 {
  text-align: center;
}

#gameBoard {
  background-color: #fff;
  height: 90vh;
  width: 45vh;
  position: relative;
  display: block;
  box-shadow: 16px 12px 46px -20px rgba(0,0,0,0.42);
}

#queue {
  display: block;
  position: relative;
  width: 30vh;
  height: 90vh;
  border-radius: 0 15px 15px 0;
  background-color: #f2f2f2;
  box-shadow: 16px 12px 46px -20px rgba(0,0,0,0.42);
}
#queueCanvas {
  width: auto;
  height: 100%;
  position: absolute;
}

#left-menu {
  bottom: 30vh;
  display: block;
  position: relative;
  width: 30vh;
  height: 30vh;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  box-shadow: 16px 12px 46px -20px rgba(0,0,0,0.42);
}
#hold {
  width: 100%;
  height: 66%;
  /* background-color: #9733EE; */
}
#left-menu div {
  width: 100%;
  height:33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}