* {
  margin: 0;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

#gameBoard {
  background-color: #fff;
  border: 2px solid #000;
  height: 90vh;
  width: 45vh;
  position: relative;
  display: block;
}

#queue {
  display: block;
  position: relative;
  width: 30vh;
  height: 90vh;
  background-color: rgb(168, 168, 168);
}
#queueCanvas {
  width: auto;
  height: 100%;
  position: absolute;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}