* {
  margin: 0;
}

body {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  font-family: Arial, sans-serif;
}

#modal {
  visibility: hidden;
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;

  z-index: 100;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}
#modal-box {
  height: 20vh;
  width: 50vw;
  padding: 15px;
  border-radius: 10px;
  background-color: #f2f2f2;
}
#modal-box h2 {
  text-align: center;
}
#modal-box button {
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-image: linear-gradient(to top, #e6dee9 0%, #DA22FF 1%, #9733EE 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: large;
}

#gameBoard {
  background-color: #fff;
  height: 90vh;
  width: 45vh;
  position: relative;
  display: block;
}

#queue {
  display: block;
  position: relative;
  width: 30vh;
  height: 90vh;
  border-radius: 0 15px 15px 0;
  background-color: #f2f2f2;
}
#queueCanvas {
  width: auto;
  height: 100%;
  position: absolute;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}